#card{
    height: 200px;
    border: 2px solid black;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 30px;
    
}
#body{
    background-color: blue;
}
#btn input{
    color: white;
    background-color:blue ;
    width: 90px;
    border-radius: 10px;
}
#date , #btn{
    margin-top: 20px;
    display: flex;
    justify-content: center;
   
}
#top{
    border: 2px solid black;
    width: 200px;
    height: 150px;
    /* display: flex; */
    margin: auto;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
#date input{
    border-radius: 10px;
    width: 150px;

}
#card div{
    margin-top: 40%;
}
#cards{
    display: flex;
    justify-content: center;
    
}
span{
    text-align: center;
}